@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');

body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0 auto;
    background-image: url('./imgs/splash.jpg');
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 16px;
    color: #fff;
    background-attachment: fixed;
}

#content {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    margin-bottom: -10vh;
}

#header{
    height: 7vh;
    background-color: rgba(0,0,0, 0.7);
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

.buttons {
    width: 150px;
    height: 100%;
    color: white;
    background-color: #000000;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 1.2rem;
    border-right: 1px solid #252525;
}

.buttons:hover{
    background-color: rgba(0,0,0, 0.2);
   
}

.buttons.active{
    background-color: rgba(50, 50, 50, 0.2);
}


#main{
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInfo {
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 10px;
    display: grid;
    justify-items: center;
    font-size: 1.6rem;
}

#homeInfo{
    padding: 50px;
}

#homeInfo > h1{
    color: #fff;
    font-size: 5rem;
    text-align: center;
}

#mainInfo #intro {
    font-size: 1.7rem;
    margin: 50px;
}

.storeHours {
    list-style: none;
    width: 400px;
    font-size: 1.4rem;
}

.storeHours li {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

#menuInfo {
    padding:50px;
}

#menuHeading{
    padding-top: 0px;
    font-size: 6rem;
    margin-bottom: 50px;
    margin-top: 0px;
}
#menuList ul {
    list-style: none;
    padding: 0;

}

#menuList{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.6rem;
    align-items: start;
    justify-items: start;
    column-gap: 30px;
    row-gap: 25px;
}

#menuImage{
    width: 325px;
    align-self: center;
    border-radius: 10px;
}


h2{
    font-size: 2rem;
    
}

#contactInfo{
    font-size: 1.3rem;
}

#contactInfo h2{
    margin: 0;
}

#contactInfo h3{
    margin: 0;
    font-size: 1.4rem;
}

#contactInfo p{
    margin: 0;
}
#footer{
    height: 7vh;
    background-color: rgba(0,0,0, 0.7);

}